.env
.env.*
!.env.example
.git
node_modules
vendor
public/build
public/hot
storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
database/*.sqlite
tests
